* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd9d9;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: large;
}

.header {
    width: 100%;
    background-color: #fff;
    padding: 10px 30px;
    box-shadow: 0px 1px 3px #666565;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .left {
    text-transform: uppercase;
}

.header .right {
    display: flex;
    align-items: center;
}

.header .right ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header .right ul li {
    margin-left: 20px;
}

.menu-icon {
    display: none; /* Hide the hamburger icon by default */
}

.bo {
    flex-grow: 1;
    background-color: #ddd9d9;
    font-size: medium;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.bo::before {
    content: 'Laptop';
    color: #5006fc;
    font-size: medium;
    font-weight: 900;
}

#about, #service, #contact {
    display: none;
    
}

/* Screen size for Tablet Devices */
@media only screen and (max-width: 768px) {
    * {
        font-size: medium;
    }

    .bo::before {
        content: 'Tablet';
        color: #69df45;
        font-size: medium;
        font-weight: 900;
    }

    .menu-icon {
        display: none; /* Hide the hamburger icon on tablets */
    }
}

/* Screen size for Mobile Phones */
@media only screen and (max-width: 500px) {
    * {
        font-size: 20px;
        color: #808080;
        font-weight: 900;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0px 1px 3px #666565;
    }

    .menu.show {
        display: flex;
    }

    .menu li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .menu li:last-child {
        border-bottom: none;
    }

    .menu-icon {
        display: block; /* Show the hamburger icon only on mobile */
        cursor: pointer;
        font-size: 24px;
        padding: 20px;
    }

    .bo::before {
        content: 'Mobile';
        color: #7b2ab1;
        font-size: large;
        font-weight: 900;
    }

    /* Hide menu items on larger screens */
    
}

